<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hand Tracking with MediaPipe Hands</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands@0.4.1675469240/hands.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.3.1675466124/drawing_utils.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3.1675466862/camera_utils.min.js"></script>-->
</head>
<body>
    <h1>Hand Tracking with MediaPipe Hands</h1>
    <video id="video" autoplay playsinline></video>
    <canvas id="canvas"></canvas>
    <div id="output"></div>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>
</html>
